<!docType html>
<html lang="en">
<title>IMO SQL</title>
<meta charset="utf-8"/>
<meta name="Description" content="IMO SQL"/>
<meta name="Keywords" content="IMO SQL"/>
<html>
<head>
</head>
<header id=header>
  <h1>IMO SQL</h1>
</header>
<nav>
<nav>
  <ul>
    <button 
    class="button" type="submit" formaction="https://imo-sql-home.stackblitz.io">Home
    </button>
    <button 
    class="button" type="submit" formaction="https://imo-sql-set-up.stackblitz.io">Set Up
    </button>
    <button class="button"heref="Three.html">Three</button>
    <button class="button" heref="Four.html">Four</button>
</ul>
</nav>
</nav>
  <body class="body1">
  </body>